body {
    /*background-color: black;*/
    color: black;
}

.profilio_foto {
    width: 400px;
}

.elementas {
    font-size: 24px;
}

.raudonas {
    color: red
}

.melynas {
    background-color: green;
}

#unikalus_elementas {
    font-family: "Comic Sans MS";
    color: greenyellow;
}

li {
    color: blueviolet;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}